nnsight
zstandard==0.22.0
einops==0.7.0
torchtyping==0.1.4
matplotlib==3.8.2
transformer-lens==1.12.0  
torchtyping==0.1.4
baukit @ git+https://github.com/davidbau/baukit@e14a18a6ad6cf9e0d6a5dc7a97e671e393c01682
wandb==0.15.3
pytest==7.4.3